<div class="position-sticky " style="top: 2rem;">
  <div class="p-4 mb-3 bg-light rounded shadow-sm p-3 mb-5 bg-body">
    <h4 class="fst-italic">{{titulo}}</h4>
    <p class="my-0"><strong>Canning</strong></p>
    <p class="my-0">Lago Argentino N° 697, 1° piso, Oficina 2</p>
    <p class="my-0"><strong>Gregorio de Laferrere</strong></p>
    <p class="my-0">Estanislao del Campo N° 6.240</p>
  </div>

  <div class="p-4 ">
    <h4 class="fst-italic">{{tituloM1}}</h4>
    <app-mapa1></app-mapa1>
  </div>

  <div class="p-4">
    <h4 class="fst-italic">{{tituloM2}}</h4>
    <app-mapa2></app-mapa2>
  </div>
</div>
